<div class="container mt-5">
  <div *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div>
    <!-- back -->
    <a mat-button color="primary" class="mb-5" [routerLink]="['/suppliers']"><mat-icon>arrow_back_ios</mat-icon>Back</a>
  </div>
  <mat-card>
    <form [formGroup]="supplierForm" (ngSubmit)="onFormSubmit(supplierForm.value)">
      <mat-form-field>
        <input matInput placeholder="Id" formControlName="id">
        <mat-error>
          <span *ngIf="!supplierForm.get('id').valid && supplierForm.get('id').touched">Please enter Id</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name">
        <mat-error>
          <span *ngIf="!supplierForm.get('name').valid && supplierForm.get('name').touched">Please enter Name</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="City" formControlName="city">
        <mat-error>
          <span *ngIf="!supplierForm.get('city').valid && supplierForm.get('city').touched">Please enter City</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Notes" formControlName="notes">
        <mat-error>
          <span *ngIf="!supplierForm.get('notes').valid && supplierForm.get('notes').touched">Please enter Notes</span>
        </mat-error>
      </mat-form-field>
      <div>
        <!-- save -->
        <button type="submit" [disabled]="!supplierForm.valid" mat-flat-button color="primary" class="mr-3">Save</button>
        <!-- cancel -->
        <button mat-stroked-button color="primary" (click)="supplierDetails()">Cancel</button>
        <!-- <mat-icon>save</mat-icon> -->
        <!-- <a mat-flat-button color="primary" (click)="supplierDetails()"><mat-icon>info</mat-icon></a> -->
      </div>
    </form>
  </mat-card>
</div>
