<div class="container mt-5">
    <div *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div>
      <!-- back -->
      <a mat-button color="primary" class="mb-5" [routerLink]="['/customers']"><mat-icon>arrow_back_ios</mat-icon>Back</a>
    </div>
    <mat-card>
      <form [formGroup]="customerForm" (ngSubmit)="onFormSubmit(customerForm.value)">
        <mat-form-field>
          <input matInput placeholder="Id" formControlName="id">
          <mat-error>
            <span *ngIf="!customerForm.get('id').valid && customerForm.get('id').touched">Please enter Id</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="First Name" formControlName="firstName">
          <mat-error>
            <span *ngIf="!customerForm.get('firstName').valid && customerForm.get('firstName').touched">Please enter First Name</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Last Name" formControlName="lastName">
          <mat-error>
            <span *ngIf="!customerForm.get('lastName').valid && customerForm.get('lastName').touched">Please enter Last Name</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email">
          <mat-error>
            <span *ngIf="!customerForm.get('email').valid && customerForm.get('email').touched">Please enter Email</span>
          </mat-error>
        </mat-form-field>
        <div>
          <!-- save -->
          <button type="submit" [disabled]="!customerForm.valid" mat-flat-button color="primary" class="mr-3">Save</button>
          <!-- cancel -->
          <button mat-stroked-button color="primary" (click)="customerDetails()">Cancel</button>
          <!-- <mat-icon>save</mat-icon> -->
          <!-- <a mat-flat-button color="primary" (click)="customerDetails()"><mat-icon>info</mat-icon></a> -->
        </div>
      </form>
    </mat-card>
  </div>
  