<mat-sidenav-container>

    <!--  fxHide.gt-xs mode="side" mode="over" opened="false" opened --> <!-- fxHide.gt-sm BUT STILL GREY OVERLAY -->
    <mat-sidenav #sidenav [autoFocus]="false" mode="over" (click)="sidenav.close()">
      <!-- can we get it to cycle through, have names in ts file -->
      <!-- ||| when toggle button is pressed -->
      <mat-nav-list>
        <button mat-icon-button  (click)="sidenav.toggle()"><mat-icon>close</mat-icon></button>
        <a mat-list-item routerLink="/login" routerLinkActive="active">Products</a>
        <a mat-list-item routerLink="/customers" routerLinkActive="active">Customers</a>
        <a mat-list-item routerLink="/customers2" routerLinkActive="active">Orders</a>
        <!-- <a mat-list-item routerLink="/login" *ngIf="!isAuthenticated">
          Login
        </a>
        <a mat-list-item *ngIf="isAuthenticated" (click)="logout()">
          Logout
        </a> -->
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
  
      <mat-toolbar color="primary" class="mat-elevation-z4">
        <!-- fxShow="false" -->
        <mat-toolbar-row fxShow="" fxShow.gt-md>
            <!-- ------------------------------------------------------------------------------------ -->
          <!--           <button mat-icon-button fxLayoutAlign="start center" fxFlex.lt-md="33.3%"
          fxHide="false" fxHide.gt-sm>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
          </button>
          <a fxLayoutAlign="center center" fxLayoutAlign.gt-md="start center" fxFlex.lt-md="33.3%"
          routerLink="/">
            <img src="./assets/logo-white-fullsize.svg" height="50" width="" alt="logo">
          </a> -->
          <a fxLayoutAlign="center center" fxLayoutAlign.gt-md="start center"
          routerLink="/">
            <img src="./assets/logo-white-fullsize.svg" height="40" width="" alt="logo">
          </a>
          <!-- <a fxLayout="row" fxLayoutAlign="center center" fxFlex
          routerLink="/">
            <img src="./assets/logo-white-fullsize.svg" height="50" width="" alt="logo">
          </a> -->
          <!-- ---------------------------------------------------------------------------------- -->
          <div fxFlex fxLayout fxLayoutAlign="end" fxHide.lt-md *ngIf="isLoggedIn$ | async">
            <!-- JC -->
            <!-- <button mat-button routerLink="/products" routerLinkActive="active">Products</button> -->
            <!-- [routerLinkActiveOptions]="{ exact: true }"  only underlined for /customers not /customers/2 -->
            <button mat-button routerLink="/customers" routerLinkActive="active">Customers
            </button>
            <!-- JC -->
            <!-- <button mat-button routerLink="/orders" routerLinkActive="active">Orders</button> -->

            <button mat-button routerLink="/login" *ngIf="!(isLoggedIn$ | async)">
              Login
            </button>
            <button mat-button (click)="onLogout()" *ngIf="isLoggedIn$ | async">
              Logout
            </button>
<!-- --------------------------------------------------------- -->
<!-- works -->
<!-- ngif async pipe boolean -->
            <!-- <button mat-button *ngIf="isLoggedIn$ | async as loggedIn">
              Logout22
            </button>

            <button mat-button *ngIf="isLoggedIn$ | async">
              Logout22
            </button> -->
<!-- ---------------------------------------------------------- -->

          </div>
          <button mat-icon-button *ngIf="!isLoggedIn$ | async" fxHide="false" fxHide.gt-sm fxFlex fxLayoutAlign="end">
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
          </button>
          <!-- --------------------------------------------------------------------------------- -->
        </mat-toolbar-row>
      </mat-toolbar>
  
      <div>
        <!-- <button mat-button (click)="sidenav.open()" id="menu-button"><mat-icon style="color: #fff;">menu</mat-icon></button> -->
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  
  </mat-sidenav-container>
  
