<div class="container">
    <div *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div>
      <a mat-flat-button color="primary" (click)="orderDetails()"><mat-icon>info</mat-icon></a>
    </div>
    <mat-card>
      <form [formGroup]="orderForm" (ngSubmit)="onFormSubmit(orderForm.value)">
        <mat-form-field>
          <input matInput placeholder="Id" formControlName="id">
          <mat-error>
            <span *ngIf="!orderForm.get('id').valid && orderForm.get('id').touched">Please enter Id</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="First Name" formControlName="firstName">
          <mat-error>
            <span *ngIf="!orderForm.get('firstName').valid && orderForm.get('firstName').touched">Please enter First Name</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Notes" formControlName="notes">
          <mat-error>
            <span *ngIf="!orderForm.get('notes').valid && orderForm.get('notes').touched">Please enter Notes</span>
          </mat-error>
        </mat-form-field>
        <div>
          <button type="submit" [disabled]="!orderForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
        </div>
      </form>
    </mat-card>
  </div>
  