<div class="container mt-5">
  <div *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div>
    <!-- back -->
    <a mat-button color="primary" class="mb-5" [routerLink]="['/orders']"><mat-icon>arrow_back_ios</mat-icon>Back</a>
  </div>
  <mat-card>
    <form [formGroup]="orderForm" (ngSubmit)="onFormSubmit(orderForm.value)">
      
      <mat-form-field>
        <mat-label>Order Id</mat-label>
        <!-- [readonly]="!editable" -->
        <!-- ?? readonly -->
        <input matInput placeholder="Order Id" formControlName="id" readonly>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Customer</mat-label>
        <mat-select formControlName="customerId" placeholder="Select Customer">
          <mat-option *ngFor="let customer of customers" [value]="customer.id">
            {{ customer.id }} - {{ customer.firstName }} {{ customer.lastName }}
          </mat-option>
        </mat-select>
        <mat-error>
          <span *ngIf="!orderForm.get('customerId').valid && orderForm.get('customerId').touched">Please enter Customer Id</span>
        </mat-error>
      </mat-form-field>


      <h2>Order Items</h2>
        <button type="button" (click)="addOrderItem()">Add</button>

        <div formArrayName="orderItems" *ngFor="let hobb of orderForm.controls.orderItems?.value; let i = index">
          <div [formGroupName]="i">
            <input placeholder="id" formControlName="id">
            <input placeholder="quantity" formControlName="quantity">
            <button type="button" (click)="removeOrderItem(i)">Remove</button>
          </div>
        </div>

      

      <div>
        <!-- save -->
        <button type="submit" [disabled]="!orderForm.valid" mat-flat-button color="primary" class="mr-3">Save</button>
        <!-- cancel -->
        <button mat-stroked-button color="primary" (click)="orderDetails()">Cancel</button>
        <!-- <mat-icon>save</mat-icon> -->
        <!-- <a mat-flat-button color="primary" (click)="orderDetails()"><mat-icon>info</mat-icon></a> -->
      </div>

    </form>
    <!-- formValue: {{orderForm.value | json}} -->
    {{orderForm.value.customerId}}
    {{orderForm.value.orderItems.quantity}}
  </mat-card>
</div>
