// #3f31b8
// define custom (hex) palette using http://mcg.mbitson.com
// do we need the above to be included here

$atomiv-primary: mat-palette($mat-deep-purple);
$atomiv-accent: mat-palette($mat-pink);
$atomiv-warn: mat-palette($mat-lime);

$atomiv: mat-light-theme($atomiv-primary, $atomiv-accent, $atomiv-warn);

// some have a separate _variables file in scss folder , variables,  mixins
$lime: #83be2d !default;
