<!-- € -->


<div class="container mt-5">
  
  <div *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div>
    <!-- back -->
    <a mat-button color="primary" class="mb-5" [routerLink]="['/orders']"><mat-icon>arrow_back_ios</mat-icon>Back</a>
  </div>

  
  <!-- TODO !showing -->
  <div fxLayout="column" *ngIf="order">

    <mat-card>

      <mat-card-header>
        <mat-card-title>
          Order No: {{order.id}}
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <mat-list>
          <!-- <mat-list-item>
            <div mat-line>Customer Id:</div>
            <span mat-line>{{order.customerId}}</span>
          </mat-list-item> -->
          <mat-list-item class="mb-3">
            <span *ngFor="let customer of customers">
              <div *ngIf="customer.id === order.customerId">
                Customer: {{ customer.firstName }} {{ customer.lastName }}
              </div>
            </span>
          </mat-list-item>
        </mat-list>
        <!-- --------------------------------------- -->
        <!-- {{order.id}}<br/> -->
        <!-- {{order.customerId}}<br/> -->
        <!-- -------------------------------------- -->
        <!-- <ng-container *ngFor="let orderItem of order.orderItems"> -->
          <!-- *ngFor="let orderItem of order.orderItems" -->
          <table class="table table-hover">
            <tr>
              <th>Order Line</th>
              <th>Product Name</th>
              <th>Unit Price</th>
              <th>Quantity</th>
              <th>Subtotal</th>
            </tr>
            <tr *ngFor="let orderItem of order.orderItems">
                <td>{{ orderItem.id }}</td>
                <!-- <td>{{ orderItem.productId }}</td> -->
        
                <ng-container *ngFor="let product of products">
                  <td *ngIf="product.id === orderItem.productId">
                    {{ product.productName }}
                  </td>
                </ng-container>
        
                <ng-container *ngFor="let product of products">
                  <td *ngIf="product.id === orderItem.productId">
                    {{ product.price}} €
                  </td>
                </ng-container>
                
                <td>{{ orderItem.quantity }}</td>   
                
                <ng-container *ngFor="let product of products">
                  <td *ngIf="product.id === orderItem.productId">
                    {{ product.price * orderItem.quantity }} €
                  </td>
                </ng-container>
        
                <!-- <div>Order Total : {{total}}</div> -->
                <!-- this call the get method Total -->
                
            </tr>
          </table>
      <!-- </ng-container> -->
      <!-- TODO: Order total -->
        <!-- Angular material table footer totals -->
        <!-- angular et total value in column -->
        <!-- -------------------------------------- -->
      </mat-card-content>

      <mat-card-actions>
        <button mat-flat-button color="primary" class="mr-3" [routerLink]="['/orders/edit', order.id]">
          Edit
        </button>
        <button mat-stroked-button color="primary" (click)="deleteOrder(order.id)">
          Delete
        </button>
      </mat-card-actions>
    </mat-card>
  
  </div>

  <div *ngIf="!order">
    No order found
   </div>  
   <br />
   <!-- <a routerLink="/orders">View All Orders</a> -->

</div>



