<div class="container mt-5">
  
  <div *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div>
    <!-- back -->
    <a mat-button color="primary" class="mb-5" [routerLink]="['/orders']"><mat-icon>arrow_back_ios</mat-icon>Back</a>
  </div>

  <!-- TODO !showing -->
  <div fxLayout="column" *ngIf="order">

    <mat-card>

      <mat-card-header>
        <mat-card-title>
          Id: {{order.id}}
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <div mat-line>Customer Id:</div>
            <span mat-line>{{order.customerId}}</span>
          </mat-list-item>
          <mat-list-item>
            <div mat-line>First Name:</div>
            <span mat-line *ngFor="let customer of customers">
              <div *ngIf="customer.id === order.customerId">
                {{ customer.firstName }}
              </div>
            </span>
          </mat-list-item>
          <mat-list-item>
            <div mat-line>Last Name:</div>
            <span mat-line *ngFor="let customer of customers">
              <div *ngIf="customer.id === order.customerId">
                {{ customer.lastName }}
              </div>
            </span>
          </mat-list-item>

          <div *ngFor="let orderItem of order.orderItems">
            <mat-list-item>
              <!-- Id for main order and for order lines -->
              <div mat-line>Id</div>
              <span mat-line>{{ orderItem.id }}</span>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>Product Id</div>
              <span mat-line>{{ orderItem.productId }}</span>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>Product Name</div>
              <div mat-line *ngFor="let product of products">
                <div *ngIf="product.id === orderItem.productId">
                  {{ product.productName}}
                </div>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>Quantity:</div>
              <span mat-line>{{ orderItem.quantity }}</span>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>Product Price:</div>
              <div mat-line *ngFor="let product of products">
                <div *ngIf="product.id === orderItem.productId">
                  {{ product.price}} EUR
                </div>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div mat-line>Order Total:</div>
              <div mat-line *ngFor="let product of products">
                <div *ngIf="product.id === orderItem.productId">
                  {{ product.price * orderItem.quantity }} EUR
                </div>
              </div>
            </mat-list-item>
            <!-- TO DO -->
            <!-- TOTAL TOTAL ORDER -->
            _________________
          </div>

        </mat-list>
      </mat-card-content>

      <mat-card-actions>
        <button mat-flat-button color="primary" class="mr-3" [routerLink]="['/orders/edit', order.id]">
          <!-- <mat-icon>edit</mat-icon> -->
          Edit
        </button>
        <button mat-stroked-button color="primary" (click)="deleteOrder(order.id)">
          <!-- <mat-icon>delete</mat-icon> -->
          Delete
        </button>
      </mat-card-actions>
    </mat-card>
  
  </div>

  <!-- <div *ngIf="!order">
    No customer found
   </div>  
   <br />
   <a routerLink="/orders">View All Orders</a> -->

</div>



