$atomiv-primary: mat-palette($mat-deep-purple);
$atomiv-accent: mat-palette($mat-pink);
$atomiv-warn: mat-palette($mat-red);

$atomiv: mat-light-theme($atomiv-primary, $atomiv-accent, $atomiv-warn);

$lime: #83be2d !default;
